/args
/bin
/gardenctl
/.kube-secrets
/tmp/*
/dev

*.coverprofile
*.html
.vscode
.idea
*._Store
.DS_Store

main.tf
terraform.tfstate
terraform.tfvars
variables.tf
gardenctl_completion.sh
key
bin/*
TODO*

clusters
config
kubeconfig
