# ignore everything
*
# except those directories and files:
!*.go
!/.gitignore
!/vendor
!/hack/tools.go
!/CODEOWNERS
!/CONTRIBUTING.md
!/Dockerfile
!/go.mod
!/go.sum
!/LATEST
!/LICENSE.md
!/Makefile
!/NOTICE.md
!/README.md
!/VERSION
