# ignore everything
*
# except those directories and files:
!*.go
!/.gitignore
!/.docforge
!/.docforge/manifest.yaml
!/vendor
!/hack/tools.go
!/hack/check-docforge.sh
!/CODEOWNERS
!/CONTRIBUTING.md
!/Dockerfile
!/go.mod
!/go.sum
!/LATEST
!/LICENSE.md
!/Makefile
!/NOTICE.md
!/README.md
!/VERSION
